@font-face {
  src: url("good\ times\ rg.ttf");
  font-family: "GoodTimes";
}
@font-face {
  src: url("Montserrat-Light.otf");
  font-family: "MontLight";
}
* {
  scroll-behavior: smooth;
}
body {
  cursor: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}
.counter h1 {
  position: absolute;
  font-family: "MontLight";
  font-size: 16px;
  font-weight: lighter;
  color: white !important;
  margin: 20px;
}

/*--- Remove lines 31-39 and add 42-52 for DEMO-2 ---*/
.percent {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  height: 140px;
  width: 1px;
  margin: -60px 0 0 40px;
}

/*---
.percent {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 140px;
    width: 1px;
}
--*/

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: background 0.15s ease;
}

.sidebar {
  z-index: 10;
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 100px;
}
.sidebar a {
  display: list-item;
  padding: 25px 20px;
  color: #bbb;
  text-decoration: none;
  font-family: "MontLight";
  letter-spacing: 2px;
}

.sidebar a:hover {
  color: #fff;
  margin-left: 20px;
  transition: 0.2s;
}

#loading {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("image/booting.gif");
  z-index: 99999;
}
#container1 {
  background: black;
  background-image: url("image/backgroundpage1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container1 div {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
#container2 {
  background: black;
  background-image: url("image/backgroundpage2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container2 div {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}
.content p {
  padding-left: 25%;
  text-align: center;
  color: white;
  font-family: "MontLight";
  max-width: 50%;
}
.content {
  margin-top: 25%;
  color: #ff073a;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "GoodTimes";
}
.content .text {
  position: relative;
  color: #ff073a;
  font-weight: 500;
  font-size: 40px;
  transform: scale(1);
  padding: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#container2 .content .text:before,
.content .text:after {
  padding: 30px;
  color: #ff073a;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
#container2 .content .text:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
#container2 .content .text:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }

  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}
#container3 {
  background-image: url("image/backgroundpage3.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
#wrapper {
  padding-bottom: 10%;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container3 .cursor {
  position: absolute;
  background: white;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
}

#container3 .cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("http://mirkozeppieri.emanuelepapale.com/wp-content/uploads/2018/07/project-hover-cursor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0;
}

#container3 .cursor.active {
  opacity: 1;
  transform: scale(12);
}

#container3 .cursor.active::before {
  opacity: 1;
}

#container3 .cursor-follower {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}

#container3 .cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}

#container3 .portfolio-thumb {
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

#container3 .portfolio-thumb img {
  max-width: 360px;
  opacity: 0.4;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transform-origin: 100% center;
}

#container3 .portfolio-item:hover .portfolio-thumb {
  transform: translateX(-1.75rem);
}

#container3 .portfolio-item:hover .portfolio-thumb img {
  opacity: 0.8;
  transform: scale(1.2);
}
//////////////////////////////////////

#container3 .portfolio-thumb2 {
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

#container3 .portfolio-thumb2 img {
  max-width: 360px;
  opacity: 0.4;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transform-origin: 90% center;
}

#container3 .portfolio-item2:hover .portfolio-thumb2 {
  transform: translateX(-1.75rem);
}

#container3 .portfolio-item2:hover .portfolio-thumb2 img {
  opacity: 0.8;
  transform: scale(1.2);
}
//////////////////////////////////////
#container3 .portfolio-thumb3 {
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

#container3 .portfolio-thumb3 img {
  max-width: 360px;
  opacity: 0.4;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transform-origin: 90% center;
}

#container3 .portfolio-item3:hover .portfolio-thumb3 {
  transform: translateX(-1.75rem);
}

#container3 .portfolio-item3:hover .portfolio-thumb3 img {
  opacity: 0.8;
  transform: scale(1.2);
}

.threecontent {
  margin-bottom: 0;
  color: #ff073a;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "GoodTimes";
}
.threecontent1 p {
  padding-left: 25%;
  text-align: center;
  color: white;
  font-family: "MontLight";
  max-width: 50%;
}
.threecontent .text {
  position: relative;
  color: #ff073a;
  font-weight: 500;
  font-size: 40px;
  transform: scale(1);
  padding: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#container3 .threecontent .text:before,
.threecontent .text:after {
  padding: 30px;
  color: #ff073a;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
#container3 .threecontent .text:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
#container3 .threecontent .text:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}
#container4 {
  color: white;
  background: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container4 div {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
#container4 .slider {
  width: 100%;
  height: 100vh;
  position: relative;
  text-transform: uppercase !important;
}

@media screen and (min-width: 53em) {
  .slider {
    height: 100vh;
  }
}

#container4 .rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "MontLight";
}

#container4 canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

#container4 nav a {
  border-radius: 50px;
  text-decoration: none;
  position: absolute;
  top: 46vh;
  z-index: 1;
  padding: 20px;
  transition: 0.3s;
  background: black;
  color: white;
  transition: 0.2s;
}
#container4 nav a:hover {
  background: white;
  color: black;
  transition: 0.2s;
}
#container4 nav a.next {
  font-family: "MontLight";
  right: 10vw;
}

#container4 nav a.prev {
  margin-left: 10%;
  font-family: "MontLight";
  left: 10vw;
}

@media screen and (max-width: 53em) {
  nav a {
    top: auto;
    bottom: 3rem;
  }
}
#container5 {
  color: white;
  background: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container5 div {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
#container6 {
  color: white;
  background: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container6 div {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
